body {
	overflow-x: hidden;
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

.nav-btn {
	margin: 20px;
	color: black;
	font-size: 30px;
	font-weight: 700;
	padding: 10px 30px;
	border: 1.5px solid #073B3A;
	border-radius: 20px;
	background-color: wheat;
	position: fixed;
	top: 0;
	left: 0;
}

.prijava {
	position: relative;
	z-index: 10;
}

.navbar {
	background-color: #08A045;
	height: 100px;
}

.btn-login {
	background-color: #6BBF59;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 700;
	padding: 10px 20px;
}

.sidebar-color {
	background-color: #0B6E4F;
	color: #DDB771;
}

.cust-nav {
	padding-top: 150px;
}

.n-top {
	border-top: 1px solid #DDB771;
}

.n-item {
	border-bottom: 1px solid #DDB771;
	padding: 10px 10px;
	margin: 2px 0px 2px 0;
	font-size: 20px;
}

.crnt {
	font-weight: 700;
}

#sidebar-wrapper {
	margin-left: 0;
}

#page-content-wrapper {
	min-width: 0;
	width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: -15rem;
}

.n-item:hover {
	color: wheat;
}

@media (max-width: 570px) {
	.hi {
		font-size: 1.6rem;
	}
	.nav-btn {
		font-size: 22px;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.8rem;
	}
	#sidebar-wrapper {
		max-width: 180px;
	}
	.n-item {
		max-width: 180px;
	}
}

@media (max-width: 450px) {
	.nav-btn {
		font-size: 17px;
		padding: 10px 18px;
	}
	#sidebar-wrapper {
		max-width: 120px;
	}
	.n-item {
		font-size: 14px;
		max-width: 120px;
	}
}

@media (max-width: 350px) {
	h1 {
		font-size: 1.7rem;
	}
	h2 {
		font-size: 1.5rem;
	}
}