<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-lovec</title>

    <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>

    <style type="text/css">
        .box {
          height: 200px;
          width: 200px;
          text-align: center;
        }
        .red {
          background-color: red;
        }
        .green {
          background-color: green;
        }
    </style>
</head>

<body>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg border-bottom">
            <div class="container">
                <h1>E-LOVEC</h1>
                <ul class="navbar-nav ml-auto mt-lg-0">
                    <li class="nav-item">
                        <a href="login.html" class="btn nav-btn prijava">Prijava</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="img/2.jpg" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="img/1.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="img/3.jpg" alt="Second slide">
                    </div>
                </div>
            </div>

            <h2 class="mt-4">Pozdravljeni v spletni aplikaciji E-LOVEC.si. Za nadaljevanje se <a href="login.html" style="color: #0B6E4F;">prijavite.</a></h2>
            <br>
            <div id="app">
                <div class="row mt-3">
                    <div class="col-md-7">
                        <h3>Novice:</h3>
                        <div v-for="obvestilo in obvestila">
                            <div class="card-group mt-4">
                                <div class="card">
                                    <!-- <img class="card-img-top" src="img/n1.jpg" alt="Card image cap"> -->
                                    <div class="card-body">
                                        <h5 class="card-title">{{ obvestilo.naslov }}</h5>
                                        <p class="card-text">{{ obvestilo.obvestilo }}</p>
                                    </div>
                                    <div class="card-footer">
                                        <small class="text-muted">Objavljeno: {{ obvestilo.cas_nastanka.substring(0, obvestilo.cas_nastanka.length - 14) }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 offset-md-1">
                        <h3>Povezave:</h3>
                        <div class="list-group mt-4">
                            <a href="http://www.lovska-zveza.si/lzs/lovstvo" class="list-group-item list-group-item-action">Lovska zveza</a>
                            <a href="https://www.ess.gov.si/ncips/cips/opisi_poklicev/opis_poklica?Kljuc=1686&Filter=" class="list-group-item list-group-item-action">Poklic lovec</a>
                            <a href="https://www.dnevnik.si/tag/lovci" class="list-group-item list-group-item-action">Dnevnik - lovci</a>
                            <a href="https://www.forum-lov.org/" class="list-group-item list-group-item-action">Forum-lov</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        new Vue({
            el: '#app',
            data () {
                return {
                    obvestila: null
                }
            },
            mounted () {
                axios
                .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/obvestilo/all')
                .then(response => (this.obvestila = response.data))
            }
        })
    </script>
</body>

</html>