<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-lovec</title>

    <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
</head>

<body>
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg border-bottom">
            <div class="container">
                <h1>E-LOVEC</h1>
                <ul class="navbar-nav ml-auto mt-lg-0">
                    <li class="nav-item">
                        <a href="index.html" class="btn nav-btn prijava">Nazaj</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="app">
            <form v-on:submit="sub" action="#" method="post">
                <div class="container">
                    <h2 class="mt-5">Prijava:</h2>
                    <b-row class="my-1">
                        <b-col sm="10">
                            <b-form-input v-model="email" id="email" placeholder="Email"></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="10">
                            <b-form-input type="password" v-model="geslo" id="geslo" placeholder="Geslo"></b-form-input>
                        </b-col>
                    </b-row>
                    <b-button type="submit" variant="success" class="mt-3">Potrdi</b-button>
                </form>
                <div class="mt-2">
                    {{output}}
                </div>
            </div>
        </div>

        <script>
            new Vue({
                el: '#app',
                data() {
                    return {
                        email: '',
                        geslo: '',
                        output: ''
                    };
                },
                methods: {
                    sub(e) {
                        e.preventDefault();
                        let currentObj = this;
                        if (!this.email || !this.geslo) {
                            currentObj.output = "Vnesi vse podatke.";
                            return;
                        }
                        axios.post('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/uporabnik/login', {
                            headers: {
                                'content-type': 'application/x-www-form-urlencoded'
                            },
                            email: this.email,
                            password: this.geslo
                        })
                        .then(function (response) {
                            console.log(response.data);
                            sessionStorage.setItem('uporabnik_id', response.data.uporabnik_id);
                            sessionStorage.setItem('ime', response.data.ime);
                            sessionStorage.setItem('priimek', response.data.priimek);
                            sessionStorage.setItem('druzina_id', response.data.druzina_id);
                            sessionStorage.setItem('tip_id', response.data.tip_id);
                            window.location.replace("./user/user.html");
                        })
                        .catch(function (error) {
                            currentObj.output = "Prijava neuspešna.";
                            console.log(error);
                        });
                    }
                }
            })
        </script>
</body>

</html>