<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-lovec</title>

    <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <div class="sidebar-color cust-nav" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="admin.html" class="n-item n-top sidebar-color">Nadzorna plošča</a>
                <a href="add_notif.html" class="n-item sidebar-color crnt">Novo obvestilo</a>
                <a href="add_user.html" class="n-item sidebar-color">Nov uporabnik</a>
                <a href="../user/user.html" class="n-item sidebar-color">Nazaj</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg border-bottom">
                <div class="container">
                    <h2 class="hi">Pozdravljen, {{ime}} {{priimek}}. <div v-if="admin">Administrator.</div></h2>
                    <ul class="navbar-nav ml-auto mt-lg-0">
                        <li class="nav-item">
                            <button v-on:click="odjava" class="btn nav-btn">Odjava</button>
                        </li>
                    </ul>
                </divv-if>
            </nav>

            <div class="container">
                <form v-on:submit="sub" action="#" method="post">
                    <div class="container">
                        <h2 class="mt-5">Dodaj obvestilo:</h2>
                        <b-row class="my-1">
                            <b-col sm="10">
                                <b-form-checkbox v-model="javna" name="javna" value="javna" unchecked-value="not_javna">
                                Javna objava
                                </b-form-checkbox>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="10">
                                <b-form-input v-model="naslov" id="naslov" placeholder="Naslov"></b-form-input>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="10">
                                <b-form-textarea id="textarea" v-model="opis" placeholder="Besedilo obvestila" rows="3" max-rows="6"></b-form-textarea>
                            </b-col>
                        </b-row>
                        <b-button type="submit" variant="success" class="mt-3">Potrdi</b-button>
                    </form>
                    <div class="mt-3">
                        {{output}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        
        new Vue({
            el: '#wrapper',
            data () {
                return {
                    ime: null,
                    priimek: null,
                    admin: false,
                    druzine: null,
                    selected_druzina_id: null,
                    naslov: null,
                    opis: null,
                    output: null,
                    javna: null
                }
            },
            mounted () {
                let thisObj = this;
                thisObj.ime = sessionStorage.getItem('ime');
                thisObj.priimek = sessionStorage.getItem('priimek');
                if (sessionStorage.getItem('tip_id') == 2) thisObj.admin = true;
                if (!thisObj.ime) window.location.replace("../login.html");
                if (!thisObj.admin) window.location.replace("../login.html");

                axios
                .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/druzina/all')
                .then(response => (thisObj.druzine = response.data))
            },
            methods: {
                odjava: function(e) {
                    sessionStorage.clear();
                    window.location.replace("../index.html");
                },

                sub: function(e) {
                    e.preventDefault();
                    let thisObj = this;
                    if (!thisObj.naslov || !thisObj.opis) {
                        thisObj.output = "Vnesi vse podatke.";
                        return;
                    }
                    let druzina = sessionStorage.getItem('druzina_id');
                    if (thisObj.javna == "javna") {
                        druzina = null;
                    }
                    axios.
                        post('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/obvestilo/add', {
                        headers: {
                            'content-type': 'application/x-www-form-urlencoded'
                        },
                        uporabnik_id: sessionStorage.getItem('uporabnik_id'),
                        druzina_id: druzina,
                        naslov: thisObj.naslov,
                        obvestilo: thisObj.opis
                    })
                    .then(function (response) {
                        thisObj.output = "Obvestilo dodano.";
                        thisObj.javna = null;
                        thisObj.opis = null;
                        thisObj.naslov = null;
                    })
                    .catch(function (error) {
                        thisObj.output = error;
                    });
                }
            }
        })
    </script>
</body>

</html>