<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-lovec</title>

    <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <div class="sidebar-color cust-nav" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="admin.html" class="n-item n-top sidebar-color">Nadzorna plošča</a>
                <a href="add_notif.html" class="n-item sidebar-color">Novo obvestilo</a>
                <a href="add_user.html" class="n-item sidebar-color crnt">Nov uporabnik</a>
                <a href="../user/user.html" class="n-item sidebar-color">Nazaj</a>
            </div>
        </div>
    
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg border-bottom">
                <div class="container">
                    <h2 class="hi">Pozdravljen, {{ime_prijavljen}} {{priimek_prijavljen}}. <div v-if="admin">Administrator.</div></h2>
                    <ul class="navbar-nav ml-auto mt-lg-0">
                        <li class="nav-item">
                            <button v-on:click="odjava" class="btn nav-btn">Odjava</button>
                        </li>
                    </ul>
                </div>
            </nav>
    
            <div id="app">
                <form v-on:submit="sub" action="#" method="post">
                    <div class="container">
                        <h2 class="mt-5">Dodaj uporabnika:</h2>
                        <b-row class="my-1">
                            <b-col sm="10">
                                <b-form-group label="Tip uporabnika:">
                                    <div v-for="tip in tipi">
                                        <b-form-radio v-model="selected_tip_id" name="tip" :value=tip.tip_id>{{ tip.tip }}</b-form-radio>
                                    </div>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="10">
                                <b-form-input v-model="email" id="email" placeholder="Email"></b-form-input>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="10">
                                <b-form-input v-model="ime" id="ime" placeholder="Ime"></b-form-input>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="10">
                                <b-form-input v-model="priimek" id="priimek" placeholder="Priimek"></b-form-input>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="10" class="mt-2">
                                <b-form-group label="Lovska druzina:">
                                    <div v-for="druzina in druzine">
                                        <b-form-radio v-model="selected_druzina_id" name="druzina" :value=druzina.druzina_id>{{ druzina.ime_druzine }}</b-form-radio>
                                    </div>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="10">
                                <b-form-input v-model="geslo" id="geslo" placeholder="Geslo"></b-form-input>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="10">
                                <b-form-input v-model="telefon" id="telefon" placeholder="Telefonska številka"></b-form-input>
                            </b-col>
                        </b-row>
                        <b-button type="submit" variant="success" class="mt-3">Potrdi</b-button>
                        </form>
                        <div class="mt-3">
                            {{output}}
                            <div v-if="multiple">
                                <p>Napake pri vnosu:</p>
                                <ul>
                                    <li v-for="error in errors">
                                        {{error}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#wrapper',
            data() {
                return {
                    druzine: null,
                    tipi: null,
                    email: null,
                    ime: null,
                    priimek: null,
                    ime_prijavljen: null,
                    priimek_prijavljen: null,
                    geslo: null,
                    telefon: null,
                    selected_tip_id: null,
                    selected_druzina_id: null,
                    errs: null,
                    res_data: null,
                    admin: false,
                    output: null,
                    errors: [],
                    multiple: false
                }
            },
            methods: {
                sub: function(e) {
                    e.preventDefault();
                    let thisObj = this;
                    var dodan = "";
                    thisObj.errors = [];
                    thisObj.multiple = false;
                    if (!thisObj.selected_tip_id || !thisObj.selected_druzina_id || !thisObj.ime || !thisObj.priimek || !thisObj.email || !thisObj.geslo || !thisObj.telefon) {
                        thisObj.output = "Vnesi vse podatke.";
                        return;
                    }

                    axios.
                        post('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/uporabnik/registration', {
                        headers: {
                            'content-type': 'application/x-www-form-urlencoded'
                        },
                        tip_id: thisObj.selected_tip_id,
                        druzina_id: thisObj.selected_druzina_id,
                        ime: thisObj.ime,
                        priimek: thisObj.priimek,
                        email: thisObj.email,
                        password1: thisObj.geslo,
                        telefonska: thisObj.telefon
                    })
                    .then(function (response) {
                        dodan = response.data.uporabnik.email + ", " + response.data.uporabnik.ime + " " + response.data.uporabnik.priimek;
                        thisObj.output = "Dodan uporabnik: " + dodan;
                        thisObj.selected_tip_id = null;
                        thisObj.selected_druzina_id = null;
                        thisObj.email = null;
                        thisObj.ime = null;
                        thisObj.priimek = null;
                        thisObj.geslo = null;
                        thisObj.telefon = null;
                        
                    })
                    .catch(function (error) {
                        if (error.response.data == "Uporabnik že obstaja.") {
                            thisObj.output = "Uporabnik že obstaja.";
                            return;
                        }
                        thisObj.multiple = true;
                        error.response.data.errors.forEach(element => thisObj.errors.push(element.msg));
                        return;
                    });
                },
                odjava: function(e) {
                    sessionStorage.clear();
                    window.location.replace("../index.html");
                }
            },
            mounted () {
                let thisObj = this;
                thisObj.ime_prijavljen = sessionStorage.getItem('ime');
                thisObj.priimek_prijavljen = sessionStorage.getItem('priimek');
                if (sessionStorage.getItem('tip_id') == 2) thisObj.admin = true;
                if (!thisObj.ime_prijavljen) window.location.replace("../login.html");
                if (!thisObj.admin) window.location.replace("../login.html");

                axios
                .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/druzina/all')
                .then(response => (thisObj.druzine = response.data)),
                axios
                .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/tip/all')
                .then(response => (thisObj.tipi = response.data))
            }
        })
    </script>
</body>

</html>