<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-lovec</title>

    <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <div class="sidebar-color cust-nav" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="admin.html" class="n-item n-top sidebar-color crnt">Nadzorna plošča</a>
                <a href="add_notif.html" class="n-item sidebar-color">Novo obvestilo</a>
                <a href="add_user.html" class="n-item sidebar-color">Nov uporabnik</a>
                <a href="../user/user.html" class="n-item sidebar-color">Nazaj</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg border-bottom">
                <div class="container">
                    <h2 class="hi">Pozdravljen, {{ime}} {{priimek}}. <div v-if="admin">Administrator.</div></h2>
                    <ul class="navbar-nav ml-auto mt-lg-0">
                        <li class="nav-item">
                            <button v-on:click="odjava" class="btn nav-btn">Odjava</button>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <h2 class="mt-5">Obvestila:</h2>
                <div class="list-group mt-4">
                    <div v-for="obvestilo in obvestila" :key="obvestilo.obvestilo_id">
                        <b-button v-on:click="odstrani(obvestilo.obvestilo_id)" variant="danger">Odstrani</b-button>
                        <b-button v-on:click="uredi_show_form(obvestilo.obvestilo_id)" variant="warning">Uredi</b-button>
                        <b-list-group-item variant="success">Obvestilo ID: {{ obvestilo.obvestilo_id }}</b-list-group-item>
                        <b-list-group-item>{{ obvestilo.naslov }}</b-list-group-item>
                        <b-list-group-item>{{ obvestilo.obvestilo }}</b-list-group-item>
                        <div v-if="show_edit == obvestilo.obvestilo_id">
                            <b-row class="my-1">
                                <b-col sm="10">
                                    <b-form-group label="Naslov:">
                                        <b-form-input v-model="naslov_nov" :placeholder="obvestilo.naslov"></b-form-input>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-row class="my-1">
                                <b-col sm="10">
                                    <b-form-group label="Besedilo:">
                                        <b-form-textarea v-model="besedilo_novo" :placeholder=obvestilo.obvestilo rows="3" max-rows="6"></b-form-textarea>
                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <b-button v-on:click="uredi(obvestilo)" variant="success">POTRDI</b-button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#wrapper',
            data () {
                return {
                    ime: null,
                    priimek: null,
                    lovi: null,
                    admin: false,
                    show_edit: false,
                    plen: null,
                    st_strelov: null,
                    date_konec: null,
                    lovEdit: null,
                    streli: null,
                    naslov_nov: null,
                    besedilo_novo: null,
                    obvestila: null
                }
            },
            mounted () {
                let thisObj = this;
                thisObj.ime = sessionStorage.getItem('ime');
                thisObj.priimek = sessionStorage.getItem('priimek');
                if (sessionStorage.getItem('tip_id') == 2) thisObj.admin = true;
                if (!thisObj.ime) window.location.replace("../login.html");

                axios
                .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/obvestilo/all_admin/' + sessionStorage.getItem('druzina_id'), {
                }).then(function (response) {
                    thisObj.obvestila = response.data.reverse();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            methods: {
                odjava: function(e) {
                    sessionStorage.clear();
                    window.location.replace("../index.html");
                },

                uredi_show_form: function(obv) {
                    if (obv == this.show_edit) this.show_edit = null;
                    else this.show_edit = obv;
                },

                uredi: function(obv) {
                    let thisObj = this;
                    if (!thisObj.naslov_nov) thisObj.naslov_nov = obv.naslov;
                    if (!thisObj.besedilo_novo) thisObj.besedilo_novo = obv.obvestilo;
                    axios
                    .post('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/obvestilo/update/' + obv.obvestilo_id, {
                    headers: {
                        'content-type': 'application/x-www-form-urlencoded'
                    },
                    naslov: thisObj.naslov_nov,
                    obvestilo: thisObj.besedilo_novo
                    })
                    .then(function (response) {
                        console.log(response.data);
                        thisObj.show_edit = false;
                        thisObj.naslov_nov = null;
                        thisObj.besedilo_novo = null;
                        location.reload();
                    })
                    .catch(function (error) {
                        console.log(error);;
                    });
                },

                odstrani: function(obv) {
                    axios
                    .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/obvestilo/rm/' + obv)
                    .then(function(response) {
                        location.reload();
                    })
                }
            }
        })
        /* new Vue({
            el: '#wrapper',
            data () {
                return {
                    ime: null,
                    priimek: null,
                    admin: false,
                    obvestila: null
                }
            },
            mounted () {
                let thisObj = this;
                thisObj.ime = sessionStorage.getItem('ime');
                thisObj.priimek = sessionStorage.getItem('priimek');
                if (sessionStorage.getItem('tip_id') == 2) thisObj.admin = true;
                if (!thisObj.ime) window.location.replace("../login.html");
                if (!thisObj.admin) window.location.replace("../login.html");

                axios
                .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/obvestilo/' + sessionStorage.getItem('druzina_id'))
                .then(response => (this.obvestila = response.data))
            },
            methods: {
                odjava: function(e) {
                    sessionStorage.clear();
                    window.location.replace("../index.html");
                }
            }
        }) */
    </script>
</body>

</html>