<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-lovec</title>

    <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <div class="sidebar-color cust-nav" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="user.html" class="n-item n-top sidebar-color">Obvestila</a>
                <a href="add_hunt.html" class="n-item sidebar-color crnt">Nov lov</a>
                <a href="hunts_all.html" class="n-item sidebar-color">Pregled lovov</a>
                <a href="hunts.html" class="n-item sidebar-color">Tvoji lovi</a>
                <a v-if="admin" href="../admin/admin.html" class="n-item sidebar-color">Nadzorna plošča</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg border-bottom">
                <div class="container">
                    <h2 class="hi">Pozdravljen, {{ime}} {{priimek}}.</h2>
                    <ul class="navbar-nav ml-auto mt-lg-0">
                        <li class="nav-item">
                            <button v-on:click="odjava" class="btn nav-btn">Odjava</button>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <form v-on:submit="sub" action="#" method="post">
                    <h2 class="mt-5">Nov lov:</h2>
                    <b-row class="my-1">
                        <b-col sm="10">
                            <b-form-group label="Lovišče:">
                                <div v-for="lovisce in lovisca">
                                    <b-form-radio v-model="selected_lovisce_id" name="lovisce" :value=lovisce.lovisce_id>{{ lovisce.naziv_lovisca }}</b-form-radio>
                                </div>
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="10">
                            <b-form-group label="Začetek lova:">
                                <input v-model="date_zacetek" type="datetime-local" id="zacetek" name="meeting-time" min="2020-01-01T00:00" max="2021-06-14T00:00">
                            </b-form-group>
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-button type="submit" variant="success" class="mt-3 ml-3">Potrdi</b-button>
                    </b-row>
                </form>
                <div class="mt-3">
                    {{output}}
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#wrapper',
            data () {
                return {
                    ime: null,
                    priimek: null,
                    admin: false,
                    date_konec: null,
                    lovisca: null,
                    selected_lovisce_id: null,
                    date_zacetek: null,
                    output: null,
                    plen: null
                }
            },
            mounted () {
                let thisObj = this;
                thisObj.ime = sessionStorage.getItem('ime');
                thisObj.priimek = sessionStorage.getItem('priimek');
                if (sessionStorage.getItem('tip_id') == 2) thisObj.admin = true;
                if (!thisObj.ime) window.location.replace("../login.html");

                axios
                .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/lovisce/all')
                .then(response => (thisObj.lovisca = response.data))

            },
            methods: {
                odjava: function(e) {
                    sessionStorage.clear();
                    window.location.replace("../index.html");
                },
                sub(e) {
                    e.preventDefault();
                    let currentObj = this;
                    if (!currentObj.selected_lovisce_id || !currentObj.date_zacetek) {
                        currentObj.output = "Vnesi vse podatke.";
                        return;
                    }
                    
                    axios.post('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/lov/add', {
                        headers: {
                            'content-type': 'application/x-www-form-urlencoded'
                        },
                        lovisce_id: currentObj.selected_lovisce_id,
                        zacetek: currentObj.date_zacetek.slice(0, 19).replace('T', ' ') + ":00"
                    })
                    .then(function (response) {
                         let id = response.data;
                        axios.post('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/lovec_lov/add', {
                            headers: {
                                'content-type': 'application/x-www-form-urlencoded'
                            },
                            uporabnik_id: sessionStorage.getItem('uporabnik_id'),
                            lov_lid: id
                        })
                        .then(function(response) {
                            currentObj.output = response.data;
                            currentObj.date_zacetek = null;
                            currentObj.selected_lovisce_id = null;
                        })
                        .catch(function(error) {
                            console.log("inner err");
                            console.log(error);
                        })
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            }
        })
    </script>
</body>

</html>