<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-lovec</title>

    <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <div class="sidebar-color cust-nav" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="user.html" class="n-item n-top sidebar-color">Obvestila</a>
                <a href="add_hunt.html" class="n-item sidebar-color ">Nov lov</a>
                <a href="hunts_all.html" class="n-item sidebar-color crnt">Pregled lovov</a>
                <a href="hunts.html" class="n-item sidebar-color">Tvoji lovi</a>
                <a v-if="admin" href="../admin/admin.html" class="n-item sidebar-color">Nadzorna plošča</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg border-bottom">
                <div class="container">
                    <h2 class="hi">Pozdravljen, {{ime}} {{priimek}}.</h2>
                    <ul class="navbar-nav ml-auto mt-lg-0">
                        <li class="nav-item">
                            <button v-on:click="odjava" class="btn nav-btn">Odjava</button>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <h2 class="mt-5">Vsi lovi tvoje lovske družine:</h2>
                <div class="list-group mt-4">
                    <div v-for="lov, index in lovi" :key="lov.lov_id">
                        <b-list-group-item v-if="lov.st_strelov" variant="success">Lovišče: {{ lov.naziv_lovisca }}</b-list-group-item>
                        <b-list-group-item v-else variant="warning">Lovišče: {{ lov.naziv_lovisca }}</b-list-group-item>
                        <b-list-group-item>Začetek: {{ lov.zacetek.slice(0, 19).replace('T', ' ') }}</b-list-group-item>
                        <div v-if="show_edit == lov.lov_id">
                                <b-row class="my-1">
                                    <b-col sm="10">
                                        <b-form-group label="Konec lova:">
                                            <input v-model="date_konec" type="datetime-local" id="konec" name="meeting-time" min="2020-01-01T00:00" max="2021-06-14T00:00">
                                        </b-form-group>
                                    </b-col>
                                </b-row>
                                <b-row class="my-1">
                                    <b-col sm="6">
                                        <b-form-input v-model="plen" id="plen" placeholder="Plen"></b-form-input>
                                    </b-col>
                                </b-row>
                                <b-row class="my-1">
                                    <b-col sm="6">
                                        <b-form-input v-model="streli" id="streli" placeholder="Število strelov"></b-form-input>
                                    </b-col>
                                </b-row>
                                <b-button v-on:click="posodobi(lov.lov_id)" variant="success">POTRDI</b-button>
                        </div>
                        <div v-if="lov.st_strelov">
                            <div v-if="lov.konec">
                                <b-list-group-item>Konec: {{ lov.konec.slice(0, 19).replace('T', ' ') }}</b-list-group-item>
                                <b-list-group-item>Plen: {{ lov.plen }}</b-list-group-item>
                                <b-list-group-item>Število strelov: {{ lov.st_strelov }}</b-list-group-item>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#wrapper',
            data () {
                return {
                    ime: null,
                    priimek: null,
                    lovi: null,
                    admin: false,
                    show_edit: false,
                    plen: null,
                    st_strelov: null,
                    date_konec: null,
                    lovEdit: null,
                    streli: null
                }
            },
            mounted () {
                let thisObj = this;
                thisObj.ime = sessionStorage.getItem('ime');
                thisObj.priimek = sessionStorage.getItem('priimek');
                if (sessionStorage.getItem('tip_id') == 2) thisObj.admin = true;
                if (!thisObj.ime) window.location.replace("../login.html");

                axios
                .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/lov/all/' + sessionStorage.getItem('druzina_id'))
                .then(response => (this.lovi = response.data.reverse()))
            },
            methods: {
                odjava: function(e) {
                    sessionStorage.clear();
                    window.location.replace("../index.html");
                },

                koncaj: function(lov) {
                    this.show_edit = lov;
                },

                posodobi: function(lov) {
                    axios
                    .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/lov/all/' + sessionStorage.getItem('druzina_id'), {
                    plen: this.plen,
                    streli: this.streli,
                    konec: this.date_konec.slice(0, 19).replace('T', ' ') + ":00"
                    })
                    .then(function (response) {
                        location.reload();
                    })
                    .catch(function (error) {
                        console.log(error);;
                    });
                }
            }
        })
    </script>
</body>

</html>