<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-lovec</title>

    <link href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
</head>

<body>
    <div class="d-flex" id="wrapper">

        <div class="sidebar-color cust-nav" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                <a href="user.html" class="n-item n-top sidebar-color crnt">Obvestila</a>
                <a href="add_hunt.html" class="n-item sidebar-color">Nov lov</a>
                <a href="hunts_all.html" class="n-item sidebar-color">Pregled lovov</a>
                <a href="hunts.html" class="n-item sidebar-color">Tvoji lovi</a>
                <a v-if="admin" href="../admin/admin.html" class="n-item sidebar-color">Nadzorna plošča</a>
            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg border-bottom">
                <div class="container">
                    <h2 class="hi">Pozdravljen, {{ime}} {{priimek}}.</h2>
                    <ul class="navbar-nav ml-auto mt-lg-0">
                        <li class="nav-item">
                            <button v-on:click="odjava" class="btn nav-btn">Odjava</button>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container">
                <h3 class="mt-5">Obvestila:</h3>
                    <div class="row">
                        <div class="col-md-7">
                            <div v-for="obvestilo in obvestila">
                                <div class="card-group mt-4">
                                    <div class="card">
                                        <!-- <img class="card-img-top" src="img/n1.jpg" alt="Card image cap"> -->
                                        <div class="card-body">
                                            <h5 class="card-title">{{ obvestilo.naslov }}</h5>
                                            <p class="card-text">{{ obvestilo.obvestilo }}</p>
                                        </div>
                                        <div class="card-footer">
                                            <small class="text-muted">Objavljeno: {{ obvestilo.cas_nastanka.substring(0, obvestilo.cas_nastanka.length - 14) }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#wrapper',
            data () {
                return {
                    obvestila: null,
                    ime: null,
                    priimek: null,
                    admin: false
                }
            },
            mounted () {
                let thisObj = this;
                thisObj.ime = sessionStorage.getItem('ime');
                thisObj.priimek = sessionStorage.getItem('priimek');
                if (sessionStorage.getItem('tip_id') == 2) thisObj.admin = true;
                if (!thisObj.ime) window.location.replace("../login.html");
                axios
                .get('http://lovci-backend-git1-lovci.apps.us-east-2.starter.openshift-online.com/obvestilo/' + sessionStorage.getItem('druzina_id'))
                .then(response => (this.obvestila = response.data.reverse()))
            },
            methods: {
                odjava: function(e) {
                    sessionStorage.clear();
                    window.location.replace("../index.html");
                }
            }
        })

    </script>
</body>

</html>